*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial,sans-serif;
    background:linear-gradient(135deg,#ff758c,#ff7eb3);

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;

    color:white;

}

.container{

    width:90%;
    max-width:420px;

}

.screen{

    display:none;
    text-align:center;

    background:rgba(255,255,255,.12);
    backdrop-filter:blur(15px);

    padding:35px;
    border-radius:25px;

    animation:fade .5s;

}

.screen.active{

    display:block;

}

img{

    width:100%;
    height:420px;

    object-fit:cover;

    border-radius:20px;

    margin-bottom:20px;

}

h1{

    font-size:70px;
    margin-bottom:15px;

}

h2{

    margin-bottom:15px;

}

p{

    margin-bottom:25px;
    line-height:1.6;

}

button{

    border:none;
    background:white;
    color:#ff4b7d;

    padding:15px 35px;

    border-radius:50px;

    font-size:17px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    transform:scale(1.08);

}

@keyframes fade{

from{

opacity:0;
transform:translateY(20px);

}

to{

opacity:1;
transform:translateY(0);

}

}
